<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<!-- change url to deeplink -->
<p><%= link_to 'Confirm my account', "#{ENV['WEBAPP_DOMAIN']}/account/email-confirmation/#{@token}?email=#{@email}" %></p>
