<div class="row">
  <div class="card">
    <div class="card-footer bg-transparent border-top">
      <div class="card-toolbar float-end">
        <%= link_to redirect_path do %>
          <%= button_tag type: "button", class: "btn btn-lg btn-light-primary" do %>
            <span class="indicator-label">Back</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
