<div class="row">
  <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"></div>
  <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
    <%= render "shared/admin/pagination", pagy: pagy %>
  </div>
  <%== pagy_info(@pagy) %>
</div>
